.postCardWrapper {
    padding: 10px;
    text-align: center;
  }
  
  .postCards {
    background-color: white;
    border-radius: 10px;
    -webkit-box-shadow: 0px 0px 16px -8px rgba(0, 0, 0, 0.68);
    box-shadow: 0px 0px 16px -8px rgba(0, 0, 0, 0.68);
    margin: 10px 0;
    max-width: 346.663px;
    text-decoration: none;
    color: black;
  }
  
  .explorePostLocation {
    margin: 0;
    opacity: 0.7;
  }
  
  .explorePostUsername {
    margin: 0;
    font-size: 1.2rem;
    font-weight: 800;
  }
  
  .explorePostUsernameContainer {
    margin: 0 10px;
    text-align: left;
  }